/* styling game */
@font-face {
	font-family: "RobotoBold";
	src: url(fonts/RobotoBold.ttf) format("truetype");
}

@font-face {
	font-family: "RobotoBoldBlack";
	src: url(fonts/RobotoBoldBlack.ttf) format("truetype");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #ffe4c4;
}

/* game div*/
.game {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

/* Title  */
.title {
	position: absolute;
	top: 0;
	font-size: 36px;
	z-index: 2;
}

/* Score */
.score {
	display: flex;
	width: 40vw;
	justify-content: space-evenly;
	position: absolute;
	top: 70px;
	z-index: 1;
	font-family: "RobotoBold", sans-serif;
}

.player-count,
.computer-count {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
    font-family: "RobotoBold", sans-serif;
}

/* thrre buttons */
.options {
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	margin-top: 2rem;
}

/* Styling the buttons */
.rock,
.paper,
.scissor {
	padding: 0.5rem;
	width: 100px;
	border-radius: 5px;
	background: #d2691e;
	outline: none;
    font-family: "RobotoBold", sans-serif;
	cursor: pointer;
}

.move {
	font-size: 2rem;
	font-weight: bold;
}

/* Restart button */
.reload {
	display: none;
	margin-top: 2rem;
	padding: 1rem;
	background: #d2691e;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}

.result {
	margin-top: 20px;
	font-size: 1.2rem;
}

/* Responsive Design */
@media screen and (max-width: 612px) {
	.title {
		text-align: center;
	}

	.score {
		position: absolute;
		top: 200px;
		width: 100vw;
	}

	.options {
		width: 100vw;
	}
}